.desc-info {
  margin: 20px 16px;
  padding: 10px 5px;
  border: 1px solid black;
  &__center {
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__location {
  }
  &__date {
  }
}
.apply-btn {
  background-color: $blue;
  color: white;
  padding: 10px 20px;
  margin: 0px 16px;
}
