.job {
  &-list {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  &-container {
    padding: 1.25rem !important;
    border: 0.0625rem solid #d4d2d0;
    border-radius: 5px;
    border-width: 0.0625rem;
    margin-bottom: 0.5625rem;
    margin: 8px 16px;
    font-size: 18px;
  }
  &-title {
  }
  &-subtitle__spacing {
    margin-bottom: 3px;
  }
}
